body {
  align-items: stretch;
  background: #333;
  color: #ccc;
  display: grid;
  font-family: sans-serif;
  grid-template-areas:
    "header header"
    "article guesses";
  grid-template-columns: 1fr 20em;
  grid-template-rows: auto 1fr;
  justify-items: stretch;
  margin: 0;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media only screen and (max-width: 40em) {
  body {
    grid-template-areas: "header" "article" "guesses";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 10em;
  }
}

/* Header */
header {
  align-items: center;
  display: flex;
  gap: 1em;
  grid-area: header;
  padding: 0 2em;
}

header h1 {
  flex-grow: 1;
  font-size: 1.5rem;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-left: 1em;
}

header nav ul li:first-child {
  margin-left: 0;
}

header nav ul li a {
  color: inherit;
  text-decoration: none;
}

/* Content */
main {
  display: contents;
}

main #article {
  background-color: #000;
  font-family: monospace;
  font-size: 18px;
  grid-area: article;
  line-height: 1.5;
  overflow-y: auto;
  padding: 1em;
  scroll-padding-top: 2.66em;
}

main #article h2 { font-size: 2.00em; } /* 1.50em */
main #article h3 { font-size: 1.50em; } /* 1.17em */
main #article h4 { font-size: 1.33em; } /* 1.00em */
main #article h5 { font-size: 1.17em; } /* 0.83em */
main #article h6 { font-size: 1.00em; } /* 0.67em */

main #article span.highlight {
  background-color: #099;
  padding: 0 0.25em;
  margin: 0 -0.25em;
}

main #article span.highlight[data-scroll="true"] {
  background-color: #0ff;
  color: #000;
}

/* Content - Legibility mode */
/* main #article {
  letter-spacing: 0.1em;
} */

/* Words */
main aside {
  display: flex;
  flex-direction: column;
  grid-area: guesses;
  overflow-y: hidden;
}

main aside #guesses {
  flex: 1 1;
  overflow-y: auto;
}

main aside #guesses table {
  border-collapse: collapse;
  color: #fff;
  width: 100%;
}

main aside #guesses table thead {
  border-bottom: 3px solid currentColor;
  font-weight: bold;
}

main aside #guesses table tbody tr {
  border-top: 1px solid currentColor;
}

main aside #guesses table tbody tr.highlight {
  background-color: #fff;
  color: #000;
}

main aside #guesses table th:nth-child(2) {
  text-align: left;
}

main aside #guesses table td:nth-child(1),
main aside #guesses table td:nth-child(3) {
  text-align: center;
}

main aside form {
  border-top: 1px solid currentColor;
  padding: 1em;
}

main aside form * {
  font-size: 1em;
}

/* Dialogs */
dialog {
  color: #000;
  margin: 20vh auto 0;
  max-width: 800px;
  min-width: 50%;
}
dialog form {
  float: right;
}

dialog#stats div {
  max-height: 50vh;
  overflow-y: auto;
}
dialog#stats table {
  border-spacing: 0;
  position: relative;
  width: 100%;
}
dialog#stats table th {
  background-color: #fff;
  border-bottom: 3px solid currentColor;
  position: sticky;
  top: 0;
}
dialog#stats table th:nth-child(2),
dialog#stats table th:nth-child(3) {
  text-align: left;
}
dialog#stats table td:nth-child(1) {
  text-align: center;
}
dialog#stats table td:nth-child(3) {
  text-align: right;
}
dialog#stats table th:not(:first-child),
dialog#stats table td:not(:first-child) {
  border-left: 1px solid currentColor;
}

/* General */
table th,
table td {
  padding: 0.5em;
}

* {
  box-sizing: border-box;
}
