:root {
  --border: #888;
}

body[data-theme="light"] {
  --background-muted: #ccc;
  --background: #fff;

  --foreground-muted: #333;
  --foreground: #000;

  --highlight-muted: #f66;
  --highlight: #f00;
}

body[data-theme="system"],
body[data-theme="dark"] {
  --background-muted: #333;
  --background: #000;

  --foreground-muted: #ccc;;
  --foreground: #fff;

  --highlight-muted: #099;
  --highlight: #0ff;
}

@media (prefers-color-scheme: light) {
  body[data-theme="system"] {
    --background-muted: #ccc;
    --background: #fff;

    --foreground-muted: #333;
    --foreground: #000;

    --highlight-muted: #f66;
    --highlight: #f00;
  }
}

body {
  align-items: stretch;
  background: var(--background-muted);
  color: var(--foreground-muted);
  display: grid;
  font-family: sans-serif;
  grid-template-areas:
    "header header"
    "article guesses";
  grid-template-columns: 1fr 20em;
  grid-template-rows: auto 1fr;
  justify-items: stretch;
  margin: 0;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media only screen and (max-width: 40em) {
  body {
    grid-template-areas: "header" "article" "guesses";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 10em;
  }
}

/* Header */
header {
  align-items: center;
  display: flex;
  gap: 1em;
  grid-area: header;
  padding: 0 2em;
}

header h1 {
  flex-grow: 1;
  font-size: 1.5rem;
}

header h1 a {
  color: inherit;
  text-decoration: none;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-left: 1em;
}

header nav ul li:first-child {
  margin-left: 0;
}

header nav ul li a {
  color: inherit;
  text-decoration: none;
}

header nav ul li a svg {
  height: 32px;
  padding: 5px;
  vertical-align: middle;
  width: 32px;
}

header nav ul li a span {
  padding: 7.5px 0;
}

@media screen and (max-width: 600px) {
  header nav ul li a span {
    display: none;
  }
}

/* Content */
main {
  display: contents;
}

main #article {
  background-color: var(--background);
  font-family: monospace;
  font-size: 18px;
  grid-area: article;
  line-height: 1.5;
  overflow-y: auto;
  padding: 1em;
  scroll-padding-top: 2.66em;
}

main #article h2 { font-size: 2.00em; } /* 1.50em */
main #article h3 { font-size: 1.50em; } /* 1.17em */
main #article h4 { font-size: 1.33em; } /* 1.00em */
main #article h5 { font-size: 1.17em; } /* 0.83em */
main #article h6 { font-size: 1.00em; } /* 0.67em */

main #article span.highlight {
  background-color: var(--highlight-muted);
  padding: 0 0.25em;
  margin: 0 -0.25em;
}

main #article span.highlight[data-scroll="true"] {
  background-color: var(--highlight);
  color: var(--background);
}

main #article table {
  border-collapse: collapse;
}

main #article th {
  background-color: var(--background-muted);
}

main #article th, main #article td {
  border: 1px solid currentColor;
}

/* Words */
main aside {
  display: flex;
  flex-direction: column;
  grid-area: guesses;
  overflow-y: hidden;
}

main aside #guesses {
  flex: 1 1;
  overflow-y: auto;
}

main aside #guesses table {
  border-collapse: collapse;
  color: var(--foreground);
  width: 100%;
}

main aside #guesses table thead {
  border-bottom: 3px solid currentColor;
  font-weight: bold;
}

main aside #guesses table tbody tr {
  border-top: 1px solid currentColor;
}

main aside #guesses table tbody tr.highlight {
  background-color: var(--foreground);
  color: var(--background);
}

main aside #guesses table th:nth-child(2) {
  text-align: left;
}

main aside #guesses table td:nth-child(1),
main aside #guesses table td:nth-child(3) {
  text-align: center;
}

main aside form {
  border-top: 1px solid currentColor;
  padding: 1em;
}

main aside form * {
  font-size: 1em;
}

/* Dialogs */
dialog {
  color: #000;
  margin: 20vh auto 0;
  max-width: 800px;
  min-width: 50%;
}
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
dialog form[method="dialog"] {
  float: right;
}

dialog#stats div {
  max-height: 50vh;
  overflow-y: auto;
}
dialog#stats table {
  border-spacing: 0;
  position: relative;
  width: 100%;
}
dialog#stats table th {
  background-color: #fff;
  border-bottom: 3px solid currentColor;
  position: sticky;
  top: 0;
}
dialog#stats table th:nth-child(2),
dialog#stats table th:nth-child(3) {
  text-align: left;
}
dialog#stats table td:nth-child(1) {
  text-align: center;
}
dialog#stats table td:nth-child(3) {
  text-align: right;
}
dialog#stats table th:not(:first-child),
dialog#stats table td:not(:first-child) {
  border-left: 1px solid currentColor;
}

dialog#sections > ul {
  margin: 0;
  max-height: 50vh;
  overflow-y: auto;
  padding: 0;
}
dialog#sections ul {
  list-style-type: none;
  margin-top: 0.25em;
}
dialog#sections li {
  list-style-type: none;
  margin-bottom: 0.25em;
}

/* General */
table th,
table td {
  padding: 0.5em;
}

* {
  box-sizing: border-box;
}

main button, main input[type="button"], main input[type="submit"] {
  background-color: var(--background-muted);
  border: 1px solid var(--border);
  border-radius: 3px;
  color: var(--foreground);
}
